.btn{
  padding: 7px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  box-sizing: border-box;

  &__light{
    background-color: $base-color;
    color:  rgba(175, 70, 26, 1);
    &:hover{
      background-color: lighten($base-color, 15%);
      color: rgba(175, 70, 26, .75);
    }
  }

  &__dark{
    background-color: $stack-color;
    color: rgba(234, 234, 234, .75);
    &:hover{
      background-color: lighten($stack-color, 15%);
      color: rgba(234, 234, 234, 1);
    }
  }
}
