.btn-request{
  display: inline-block;
  width: 203px;
  height: 51px;
  line-height: 51px;
  border-radius: 50px;
  background-color: rgb(155, 63, 52);
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: $OpenSans;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  @include transition(all .5s);

  &:hover{
    background-color: lighten(rgb(155, 63, 52), 10%);
  }
}
