@media only screen and (min-width: 320px) and (max-width: 479px) {
  header .header__logo {
    margin-top: -10px;
  }
  header .header__logo img {
    width: 100px;
  }
  header .header__top-group {
    max-width: 185px;
    padding-top: 5px;
  }
  header .header__top-group .phone {
    font-size: 13px;
    line-height: 20px;
    margin-right: 5px;
  }
  .btn-request {
    width: 125px;
    height: 30px;
    line-height: 30px;
    font-size: 9px;
  }
  header .header__top-group .line {
    display: none;
  }
  header .header__top-group .nav {
    display: none;
  }

  header .header__top-group #menu-toggle{
    display: block;
    position: absolute;
    top: 40px;
    left: 45%;
    transform: translateX(-50%);
  }
  #menu{
    padding: 15px;
    position: absolute;
    top: 90px;
    left: 0;
    right: 0;
    background-color: #9b3f34;
    width: 100%;
    max-width: 768px;
    z-index: 200;
  }
  #menu > li{
    display: block;
    margin-bottom: 10px;
  }
  .sub-menu{
    padding-top: 10px;
  }
  .sub-menu > li{
    display: block;
    padding-left: 15px;
    margin-bottom: 5px!important;
  }
  .sub-menu li a {
    color: rgb(255, 255, 255);
    font-family: $OpenSans;
    font-size: 12px!important;
    font-weight: 400;
    text-decoration: none;
    text-transform: none!important;
  }
  #menu li a {
    color: rgb(255, 255, 255);
    font-family: $OpenSans;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    &:hover{
      color: darken(#606569, 25%);
    }
  }
  #menu li a.active{
    color: darken(#606569, 25%);
  }
  .section_1 {
    height: 400px;
    min-height: 400px;
  }
  .section_1 .frame {
    height: 400px;
    min-height: 400px;
  }
  .section_1 .border__image {
    max-width: 250px;
    height: 300px;
    border: 5px solid rgba(246, 211, 117, 0.39);
  }
  .section_1 h1 {
    font-size: 19px;
    line-height: 30px;
    margin-bottom: 50px;
    padding-top: 80px;
  }
  .section_1 .description {
    font-size: 15px;
    line-height: 20px;
  }
  .section__title .ask {
    font-size: 15px;
  }
  .section__title {
    max-width: 280px;
  }
  .section__title .bg {
    padding: 10px;
  }
  .section_2 .section__title, .section_3 .section__title, .section_4 .section__title, .section_5 .section__title {
    max-width: 230px;
  }
  .section_2 .descript, .section_3 .descript, .section_4 .descript, .section_5 .descript {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 50px;
  }
  .section_2 .left__block {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  .section_2 .left__block .overlay {
    width: 270px;
    height: 170px;
    margin: 0 auto;
  }
  .section_2 .right__block {
    display: block;
    width: 100%;
    padding: 25px 0 0;
  }
  .section_2 .right__block span {
    font-size: 14px;
    line-height: 20px;
  }
  .section_6 .descript {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
  }
  .section_3 .advant__wrap {
    display: block;
  }
  .section_3 .item {
    display: block;
    margin: 0 auto 20px;
  }
  .section_3 .item__text {
    font-size: 18px;
    line-height: 20px;
  }
  .section_4 .service {
    max-width: 260px;
    height: 160px;
    margin: 0 auto 15px;
  }
  .section_4 .service__heading {
    font-size: 15px;
    line-height: 20px;
  }
  .question input {
    max-width: 300px;
    height: 45px;
    border-radius: 45px;
    font-size: 13px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .section_4 .more, .section_5 .order {
    max-width: 225px;
    height: 45px;
    border-radius: 45px;
    font-size: 15px;
  }
  .section_4 .serv-1 .service__heading {
    width: 75%;
  }
  .section_4 .serv-5 .service__heading {
    width: 65%;
  }
  .section_4 .serv-6 .service__heading {
    width: 65%;
  }
  .section_4_1 .section__title {
    max-width: 230px;
  }
  .section_4_1 .descript {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 50px;
  }
  .section_4_1 .service__item {
    max-width: 250px;
    height: 155px;
    margin: 0 auto 10px;
  }
  .section_4_1 .service__wrap {
    max-width: 300px;
  }
  .section_4_1 .service__item .title {
    font-size: 10px;
  }
  .section_4_1 .service__item .title .index {
    font-size: 10px;
    line-height: 15px;
  }
  .section_5 table th {
    font-size: 11px;
    padding: 15px 5px;
  }
  .section_5 table td {
    padding: 0 5px;
    height: 45px;
  }
  .question button {
    max-width: 300px;
    height: 45px;
    border-radius: 45px;
    font-size: 16px;
  }
  .breadcrumbs li span {
    margin-right: 4px;
    margin-left: 4px;
  }
  .breadcrumbs li {
    font-size: 9px;
  }
  .breadcrumbs li a {
    font-size: 9px;
  }
  .product {
    padding: 25px 0;
  }
  .product .photo {
    width: 130px;
  }
  .product h2 {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .product p {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 15px;
  }

  footer .footer__logo {
    margin: 0 auto;
    display: block;
    text-align: center;

    img{width: 130px;}

  }
  footer .footer__nav .list__menu {
    display: block;
    width: 100%;
  }
  footer .footer__nav .list__menu li {
    margin-bottom: 10px;
  }
  footer .footer__nav .list__menu li a {
    font-size: 15px;
  }
  footer .footer__nav {
    max-width: 100%;
    padding-top: 5px;
    margin-right: 0;
    display: block;
    text-align: center;
  }
  footer .site__map {
    display: block;
    margin-right: 0;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 20px;
    padding-top: 0;
    position: relative;
    right: 0;
    bottom: 0;
    text-align: center;
  }
  footer .right__group .phone {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  footer .right__group .footer__social a {
    margin-right: 5px;
  }
  footer .right__group {
    padding-top: 0;
    float: none;
    text-align: center;
  }
  footer .copyright {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
  footer {
    height: 180px;
    margin: -180px auto 0;
    padding: 10px 0 0;
  }
  .footer__social {
    margin-bottom: 15px;
  }
  .empty {
    height: 180px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  header .header__logo {
    margin-top: -10px;
  }
  header .header__logo img {
    width: 120px;
  }
  header .header__top-group {
    max-width: 280px;
  }
  header .header__top-group .phone {
    font-size: 15px;
    line-height: 25px;
    margin-right: 10px;
  }
  .btn-request {
    width: 150px;
    height: 38px;
    line-height: 38px;
    font-size: 11px;
  }
  header .header__top-group .line {
    display: none;
  }
  header .header__top-group .nav {
    display: none;
  }

  header .header__top-group #menu-toggle{
    display: block;
    position: absolute;
    top: 40px;
    left: 46%;
    transform: translateX(-50%);
  }
  #menu{
    padding: 15px;
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    background-color: #9b3f34;
    width: 100%;
    max-width: 768px;
    z-index: 200;
  }
  #menu > li{
    display: block;
    margin-bottom: 10px;
  }
  .sub-menu{
    padding-top: 10px;
  }
  .sub-menu > li{
    display: block;
    padding-left: 15px;
    margin-bottom: 7.5px;
  }
  .sub-menu li a {
    color: rgb(255, 255, 255);
    font-family: $OpenSans;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: none!important;
  }
  #menu li a {
    color: rgb(255, 255, 255);
    font-family: $OpenSans;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;

    &:hover{
      color: darken(#606569, 25%);
    }
  }
  #menu li a.active{
    color: darken(#606569, 25%);
  }

  .section_1 .border__image {
    max-width: 400px;
    height: 450px;
    border: 10px solid rgba(246, 211, 117, 0.39);
  }
  .section_1 h1 {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 70px;
    padding-top: 130px;
  }
  .section_1 .description {
    font-size: 20px;
    line-height: 25px;
  }
  .section__title .ask {
    font-size: 22px;
  }
  .section__title {
    max-width: 400px;
  }
  .section_2 .left__block {
    display: block;
    width: 100%;
    padding-left: 0;
  }
  .section_2 .left__block .overlay {
    width: 425px;
    height: 273px;
  }
  .section_2 .descript, .section_3 .descript, .section_4 .descript,.section_5 .descript, .section_6 .descript {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 60px;
  }
  .section_2 .right__block {
    display: block;
    width: 100%;
    padding: 30px 10px 0;
  }
  .section_2 .right__block span {
    font-size: 15px;
    line-height: 22px;
  }
  .section_2 .right__block span:before {
    display: none;
  }
  .section_3 .item__text {
    font-size: 15px;
    line-height: 20px;
  }
  .section_3 .item {
    max-width: 145px;
    padding: 0 5px;
  }
  .section_4 .service {
    max-width: 215px;
    height: 125px;
    margin: 0 auto 15px;
  }
  .section_4 .service__heading {
    font-size: 13px;
    line-height: 20px;
  }
  .section_4 .more, .section_5 .order {
    max-width: 250px;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
    line-height: 18px;
  }
  .section_4 .serv-8 .service__heading {
    width: 50%;
  }
  .section_4_1 .service__item {
    max-width: 180px;
    height: 110px;
    margin: 0 auto 10px;
  }
  .section_4_1 .service__wrap {
    max-width: 380px;
  }
  .section_4_1 .service__item .title {
    font-size: 11px;
  }
  .section_4_1 .service__item .title .index {
    font-size: 11px;
    line-height: 20px;
  }
  .section_5 table th {
    font-size: 14px;
    padding: 15px 10px;
  }
  .section_5 table td {
    padding: 0 5px;
    height: 50px;
  }
  .section_2 .section__title, .section_3 .section__title, .section_4 .section__title, .section_5 .section__title {
    max-width: 320px;
  }
  .question input {
    max-width: 350px;
    height: 50px;
    border-radius: 50px;
    font-size: 13px;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .question button {
    max-width: 350px;
    height: 50px;
    border-radius: 50px;
    font-size: 15px;
  }
  .breadcrumbs li {
    font-size: 12px;
  }
  .breadcrumbs li a {
    font-size: 12px;
  }
  .product {
    padding: 30px 0;
  }
  .product .photo {
    width: 180px;
  }
  .product h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .product p {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  footer .footer__logo {
    margin-right: 30px;

    img{width: 120px;}

  }
  footer .footer__nav .list__menu {
    display: block;
    width: 100%;
  }
  footer .footer__nav .list__menu li {
    margin-bottom: 10px;
  }
  footer .footer__nav .list__menu li a {
    font-size: 15px;
  }
  footer .footer__nav {
    max-width: 125px;
    padding-top: 5px;
    margin-right: 0;
  }
  footer .site__map {
    display: block;
    margin-right: 0;
    font-size: 15px;
    line-height: 20px;
    padding-top: 0;
    position: absolute;
    right: 10px;
    bottom: 50px;
  }
  footer .right__group .phone {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 10px;
  }
  footer .right__group .footer__social a {
    margin-right: 5px;
  }
  footer .right__group {
    padding-top: 0;
  }
  footer .copyright {
    height: 40px;
    line-height: 40px;
    font-size: 13px;
  }
  footer {
    height: 180px;
    margin: -180px auto 0;
    padding: 10px 0 0;
  }
  .empty {
    height: 180px;
  }

}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  header .header__logo img {
    width: 120px;
  }
  header .header__top-group {
    max-width: 600px;
  }
  header .header__top-group .phone {
    font-size: 18px;
    line-height: 25px;
    margin-right: 10px;
  }
  .btn-request {
    width: 170px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    font-size: 12px;
  }
  header .header__top-group .line {
    margin: 15px 0 0;
  }
  header .header__top-group .nav {
    max-width: 600px;
  }
  header .header__top-group .nav li {
    padding: 10px 0;
  }
  header .header__top-group .nav li a {
    font-size: 17px;
  }
  header .header__top-group .nav li .drop {
    right: -20px;
    width: 480px;
    padding: 20px;
  }
  header .header__top-group .nav li .drop ul li {
    margin-bottom: 5px;
  }
  header .header__top-group .nav li .drop ul li a {
    font-size: 13px;
  }
  .section_1 .border__image {
    max-width: 580px;
    height: 380px;
  }
  .section_1 h1 {
    font-size: 42px;
    line-height: 55px;
    margin-bottom: 70px;
    padding-top: 140px;
  }
  .section_1 .description {
    font-size: 24px;
    line-height: 30px;
  }
  .section__title .ask {
    font-size: 22px;
  }
  .section__title {
    max-width: 370px;
  }
  .section_2 .left__block {
    padding-left: 0;
  }
  .section_2 .left__block .overlay {
    width: 380px;
    height: 245px;
  }
  .section_2 .right__block {
     padding: 0 20px 20px 70px;
   }
  .section_2 .right__block span {
    font-size: 14px;
    line-height: 18px;
  }
  .section_2 .right__block span:before {
    left: -25px;
    height: 220px;
  }
  .section_2 .descript, .section_3 .descript, .section_4 .descript {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 60px;
  }
  .section_2 .section__title, .section_3 .section__title, .section_4 .section__title, .section_5 .section__title {
    max-width: 320px;
  }
  .section_3 .item {
    padding: 0 15px;
  }
  .section_3 .item__text {
    font-size: 16px;
    line-height: 20px;
  }
  .section_3 .advant__wrap {
    max-width: 650px;
  }
  .section_4 .services__wrap {
    max-width: 565px;
  }
  .section_4 .service {
    margin: 0 auto 15px;
    max-width: 265px;
    height: 120px;
  }
  .section_4 .service__heading {
    font-size: 14px;
    line-height: 20px;
  }
  .section_5 table {
    max-width: 650px;
  }
  .section_6 .descript {
    font-size: 20px;
    margin-bottom: 35px;
  }
  .section_4 .more, .section_5 .order {
    max-width: 250px;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
  }
  .section_4_1 .service__item {
    max-width: 206px;
    height: 128px;
    margin: 0 auto 10px;
  }
  .section_4_1 .service__wrap {
    max-width: 650px;
  }
  .section_4_1 .service__item .title {
    font-size: 13px;
  }
  .section_4_1 .service__item .title .index {
    font-size: 13px;
    line-height: 22px;
  }
  .section_5 table th {
    font-size: 16px;
    padding: 20px 15px;
  }
  .section_5 table td {
    padding: 0 15px;
    height: 60px;
  }
  .question input {
    max-width: 230px;
    height: 45px;
    border-radius: 45px;
    font-size: 14px;
    margin-right: 5px;
  }
  .question button {
    max-width: 230px;
    height: 45px;
    border-radius: 45px;
    font-size: 14px;
  }
  .breadcrumbs li {
    font-size: 12px;
  }
  .breadcrumbs li a {
    font-size: 12px;
  }
  .product {
    padding: 30px 0;
  }
  .product .photo {
    width: 200px;
  }
  .product h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .product p {
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 15px;
  }
  footer .footer__logo {
    margin-right: 30px;

    img{width: 120px;}

  }
  footer .footer__nav {
    max-width: 225px;
    margin-right: 30px;
  }
  footer .footer__nav .list__menu li {
    margin-bottom: 10px;
  }
  footer .footer__nav .list__menu li a {
    font-size: 15px;
  }
  footer .site__map {
    margin-right: 30px;
    font-size: 15px;
    padding-top: 20px;
  }
  footer .right__group .phone {
    font-size: 18px;
    margin-bottom: 10px;
  }
  footer {
    height: 180px;
    margin: -180px auto 0;
    padding: 15px 0 0;
  }
  footer .copyright {
    height: 45px;
    line-height: 45px;
    font-size: 15px;
  }
  .empty {
    height: 180px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  header .header__top-group {
    max-width: 785px;
  }
  header .header__top-group .phone {
    font-size: 20px;
    line-height: 28px;
  }
  .btn-request {
    width: 185px;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
  }
  header .header__top-group .nav li {
    padding: 15px 0;
  }
  header .header__top-group .nav li a {
    font-size: 20px;
    padding: 0 37px;
  }
  header .header__logo img {
    width: 151px;
  }
  header .header__top-group .nav li .drop {
    width: 640px;
    padding: 35px;
  }
  header .header__top-group .nav li .drop ul li a {
    font-size: 15px;
  }
  header .header__top-group .nav li .drop ul li {
    margin-bottom: 5px;
  }
  .section_1 .border__image {
    max-width: 700px;
    height: 420px;
    border: 10px solid rgba(246, 211, 117, 0.39);
  }
  .section_1 h1 {
    font-size: 50px;
    line-height: 65px;
    padding-top: 135px;
  }
  .section_1 .description {
    font-size: 24px;
    line-height: 35px;
  }
  .section_2 .left__block {
    width: 40%;
    padding-left: 10px;
  }
  .section_2 .left__block .overlay {
    width: 400px;
    height: 255px;
  }
  .section_2 .right__block span {
    font-size: 15px;
    line-height: 23px;
  }
  .section_2 .right__block span:before {
    left: -40px;
    height: 240px;
  }
  .section_2 .right__block {
    padding: 0 20px 50px 100px;
  }
  .section_3 .advant__wrap {
    max-width: 850px;
    margin: 0 auto;
  }
  .section_3 .item__text {
    font-size: 18px;
  }
  .section_3 .item {
    max-width: 240px;
    padding: 0 30px;
  }
  .section_3:before {
    border: 10px solid transparent;
    border-top: 10px solid #f2f5fa;
    bottom: -20px;
    margin-left: -10px;
  }
  .section_4:before {
    border: 10px solid transparent;
    border-top: 10px solid white;
    margin-left: -10px;
    bottom: -20px;
  }
  .section_4 .service {
    max-width: 260px;
    height: 150px;
  }
  .section_4 .services__wrap {
    max-width: 805px;
  }
  .section_4 .service__heading {
    font-size: 15px;
    line-height: 20px;
  }
  .section_4 .more, .section_5 .order {
    max-width: 250px;
    height: 50px;
    border-radius: 50px;
    font-size: 17px;
  }
  .section_4_1 .service__item {
    max-width: 270px;
    height: 165px;
    margin: 0 auto 10px;
  }
  .section_4_1 .service__wrap {
    max-width: 840px;
  }
  .section_4_1 .service__item .title {
    font-size: 14px;
  }
  .section_5 table {
    width: 100%;
    max-width: 840px;
    margin: 0 auto 30px;
  }
  .section_5 table td {
    padding: 0 10px;
    height: 65px;
  }
  .section_5 table th {
    font-size: 16px;
    padding: 20px 10px;
  }
  .question input{
    max-width: 250px;
    height: 50px;
    border-radius: 50px;
    font-size: 14px;
    margin-right: 10px;
  }
  .question button{
    max-width: 250px;
    height: 50px;
    border-radius: 50px;
    font-size: 16px;
  }
  .section__title .ask {
    font-size: 25px;
  }
  .section__title {
    max-width: 390px;
  }
  .section__title .ask:before {
    margin-right: 30px;
    margin-left: -50%;
  }
  .section__title .ask:after {
    margin-right: -50%;
    margin-left: 30px;
  }
  .section_2 .descript, .section_3 .descript, .section_4 .descript, .section_5 .descript, .section_6 .descript {
    font-size: 20px;
  }
  .breadcrumbs li {
    font-size: 13px;
  }
  .breadcrumbs li a {
    font-size: 13px;
  }
  .product .photo {
    width: 250px;
  }
  .product h2 {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .product p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  footer .footer__logo {
    margin-right: 50px;

    img{width: 151px;}

  }
  footer .footer__nav .list__menu li a {
    font-size: 18px;
  }
  footer .footer__nav {
    max-width: 300px;
    margin-right: 50px;
  }
  footer .site__map {
    margin-right: 50px;
    font-size: 18px;
  }
  footer .right__group .phone {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  footer .copyright {
    height: 57px;
    line-height: 57px;
    font-size: 18px;
  }

}

@media only screen and (min-width: 1200px) and (max-width: 1920px) {}