<footer>
    <div class="container">
        <a href="#" class="footer__logo">
            <img src="../img/logo.png" alt="pic">
        </a>
        <div class="footer__nav">
            <ul class="list__menu">
            <li><a href="#">Главная</a></li>
            <li><a href="#">О нас</a></li>
        </ul>
        <ul class="list__menu">
            <li><a href="#">Наши услуги</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
        </div>
        <a href="#" class="site__map">Карта сайта</a>
        <div class="right__group">
            <span class="phone">+7 (495) 254 44 57</span>
            <div class="footer__social">
                <a href="#" class="ok"></a>
                <a href="#" class="fb"></a>
                <a href="#" class="vk"></a>
            </div>
        </div>
    </div>
    <div class="copyright">&copy; 2017 пошив текстильной продукции</div>
</footer>