<header>
    <div class="container">
        <a href="index.html" class="header__logo">
            <img src="../img/logo.png" alt="pic">
        </a>
        <div class="header__top-group">
            <div class="header__phone">
                <span class="phone">+7 (495) 254 44 57</span>
                <a href="#" class="btn-request">заказать звонок</a>
            </div>
            <div class="line"></div>
            <ul class="nav">
                <li><a href="#">Главная</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Наши услуги</a>
                    <div class="drop">
                        <ul class="list">
                            <li><a href="#">Ремонт пошив</a></li>
                            <li><a href="#">Тент изготовление</a></li>
                            <li><a href="#">Швейный бизнес</a></li>
                            <li><a href="#">Индивидуальный пошив изделий</a></li>
                            <li><a href="#">Как пошить постельное белье</a></li>
                            <li><a href="#">Виды пошива тюли</a></li>
                            <li><a href="#">Диван подушка</a></li>
                            <li><a href="#">Производство подушек</a></li>
                            <li><a href="#">Ремонт пошив</a></li>
                            <li><a href="#">Тент изготовление</a></li>
                        </ul>
                        <ul class="list">
                            <li><a href="#">Ремонт пошив</a></li>
                            <li><a href="#">Тент изготовление</a></li>
                            <li><a href="#">Швейный бизнес</a></li>
                            <li><a href="#">Индивидуальный пошив изделий</a></li>
                            <li><a href="#">Как пошить постельное белье</a></li>
                            <li><a href="#">Виды пошива тюли</a></li>
                            <li><a href="#">Диван подушка</a></li>
                            <li><a href="#">Производство подушек</a></li>
                            <li><a href="#">Ремонт пошив</a></li>
                            <li><a href="#">Тент изготовление</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
    </div>
</header>